ul{
	list-style-type: none;
	margin: 15px;
	padding: 10px;
	overflow: hidden;
}
li{
	float: right;
}
li a{
	display: block;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}
li a:hover{
	background-color:#333333;
}
*{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}